body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  background-color: #555;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu {
  width: 20%;
  height: 100%;
  background-color: aquamarine;
  box-sizing: border-box;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  transform: scale(1.0);
  transform-origin: top left;
  
}

.view-container{
  width: 80%;
  height: 100%;
}

.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  border: 2px;
}

.item {
  border: 1px ;
}

.corner {
  background-color: #bbb;
}

.white {
  background-color: white;
}

.blue-area {
  background-color: #0078d7;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0;
  }

  body {
    display: block;
    margin: 0;
  }

  .content > *:not(.view) {
    display: none;
  }

  .view {
    transform: none;
    gap: 0;
    width: auto;
    height: auto;
  }

  .container {
    transform: none;
  }
}
