* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./img/background.png");
}

input {
  margin-left: 5px;
  height: 30px;
  border: none;
}

.linha-flex {
  display: flex;
  align-items: center;
}

.layout-container {
  max-width: 900px;
  margin: 0 auto;
}

.section-inicio,
.section-nome {
  margin-top: 50px;
}

.section-nome,
.section-final {
  display: none;
}

.mensagem-avatar{
  margin-top: 50px;
  display: flex;
}

.mensagem-avatar-secundario{
  margin-top: 10px;
  display: flex;
}

.mensagem-avatar img,
.mensagem-avatar-secundario img {
  width: 75px;
  height: 75px;
}

.balcao-avatar {
  display: flex;
}

.balcao-avatar img {
  width: 25px;
  height: 25px;
}

.mensagem-avatar-texto {
  width: 70%;
  background-color: white;
  padding: 25px;
  border-radius: 0 20px 20px;
}

.balcao-usuario {
  display: flex;
}

.balcao-usuario img {
  width: 25px;
  height: 25px;
}

.mensagem-usuario-texto {
  background-color: #25d366;
  padding: 25px;
  border-radius: 20px 0px 20px 20px;
}

.resposta-usuario {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.btn-aceitar,
.btn-continuar {
  margin-left: 10px;
  cursor: pointer;
}

.mensagem-avatar {
  opacity: 0;
  animation: aparecer 0.5s ease forwards;
  animation-delay: 1s;
}

.mensagem-avatar-secundario {
  opacity: 0;
  animation: aparecer 0.5s ease forwards;
  animation-delay: 2s;
}

.resposta-usuario {
  opacity: 0;
  animation: aparecer 0.5s ease forwards;
  animation-delay: 3s;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 750px) {
  .mensagem-avatar img,
  .mensagem-avatar-secundario img {
    width: 45px;
    height: 45px;
  }

  .balcao-avatar img,
  .balcao-usuario img {
    width: 15px;
    height: 15px;
  }
}
